* {
    margin: 0;
    padding: 0;
}

/*font Face*/
@font-face {
    font-family: "Cinzel";
    src: url("Fuentes/Cinzel/static/Cinzel-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Montserrat";
    src: url("Fuentes/Montserrat/Montserrat-Light.ttf") format("opentype");
}
/*Font face*/

/* Pagina Principal */
/* Encabezado */
h1 {
    display: flex;
    font-size: 3em;
    color:black;
    font-family: "Cinzel";
    justify-content: center;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    h1 {
        margin-top: 40px;
        font-size: 80px;
        text-align: center;
        text-decoration: none;
    }
}
/* Encabezado */
body {
     background-color: #f2ffe6;
}

.body {
    display: grid;
    background-color: #f2ffe6;
    height: 200vh;
    grid-template-rows: 75px 10px 500px 250px;
    row-gap: 100px;
    grid-template-areas:
        "header"
        "h1"
        "recetas"
        "footer";
}

/* Header */
.header {
    background-image: url(imagenes/header.png);
    height: 75px;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    .header {
        background-image: url(imagenes/header.png);
    }
}

/*Header*/


/* Comienzo de navbar*/
.navbar {
    font-family: "Cinzel";
    font-weight: bold;
    font-size: 1em;
    color: black;
}
.navbar a {
    color: black;
}
/* Fin navbar*/

@media only screen and (min-width: 300px) and (max-width: 768px) {
    .menu {
        margin: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
}
/* Fin de menu */

/* Comienzo primera seccion  */
.receta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid salmon;
    align-items: center;
}
h4 {
    font-family: "Cinzel";
    color: blue;
}
p {
    font-size: 12px;
    text-align: center;
}

/* Animaciones recetas*/
    .figure {
        transition: all 2s;
        border: solid;
        color: black;
    }
    .figure:hover {
        transform: scale(1.2);
    }
/* Fin Animaciones recetas*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .grid-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        width: 1000px;
    }
}
/* Fin primera seccion */

/* Footer */
@media only screen and (min-width: 320px) and (max-width: 768px)  {
    .footer {
        margin-top: 1200px;
    }
}

footer {
    height: 270px;
    margin-top: 700px;
    background-image: url(imagenes/Footer.png);
}

.footer {
    height: 270px;
    margin-top: 4500px;
    background-image: url(imagenes/Footer.png);
}
.footer2 {
    height: 270px;
    margin-top: 6100px;
    background-image: url(imagenes/Footer.png);
}

/* Footer */

/* Cominzo de nav footer */
.navFooter {
    display: flex;
    justify-content: center;
}

.navFooter a {
    display: flex;
    align-items: center;
}

.maps {
    margin-top: 10px;
    margin-left: 600px;
}

/* fin de nav footer */

/* Fin Pagina Principal */

/*Recetas*/
.preparacionRecetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: start;
    font-family: "Montserrat";
    font-weight: bold;
}
.tituloRecetas {
    font-family: "Cinzel";
    font-size: 2em;
    color: blue;
    text-align: center;
}
.preparacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 349px;
}
.preparacionRecetas ol li {
    padding: 40px 40px;
}
h3 {
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    margin-top: 50px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .preparacionRecetas {
        flex-direction: column;
    }
    .h2 {
        margin-left: 300px;
    }
}
/*Recetas*/
/* H2 y Parrafos */
.h2 {
    text-align: center;
    font-family: "Cinzel";
    margin-top: 100px;
}
.parrafo {
    text-align: center;
    font-family: "Montserrat";
    margin: 50px;
}
/* H2 y Parrafos */