.recetasM {
    background-color: #2d2d2d;
    border-radius: 5px;
    h3 {
        color: #f8d7c8;
    }
   div {
       h2, h4, h5, ul, p {
           color: #f8d7c8;
       }
       img {
           border-radius: 5px;
       }
   }
}