@mixin titulos ($size, $margin, $font) {
    font-family: $font;
    margin: $margin;
    font-size: $size;
    text-align: center;
    font-weight: bold;

}
h1 {
    @include titulos(20px, auto , 'Dancing Script');
    }

h2 {
    @include titulos(2em, 100px auto, "Cinzel");
    text-decoration: underline;
}
.eventosT {
    @include titulos(2em, auto, "Montserrat");
    padding: 40px;
    color: white;
    text-decoration: none;
}
.eventosT2 {
    @include titulos(1em, auto, "Cinzel");
    padding: 40px;
    color: white;
    text-decoration: none;
}
.eventosT3 {
    @include titulos(1em, auto, "Cinzel");
    padding: 40px;
    color: white;
    text-decoration: none;
}
.eventosPt {
    @include titulos (1em, auto, "Montserrat");
    color: #f8d7c8;
}
.eventosPt2 {
    @include titulos (12px, auto, "Montserrat");
    color: #f8d7c8;
}
p {
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 20px;
}
.parrafo {
    padding-top: 20px;
    word-spacing: 5px;
    margin: auto;
    width: 100%;
    height: 200%;
    color: white;
    background-color: #2d2d2d;
    border-radius: 2%;
    box-shadow: -10px -10px 9px -1px #000000;
}
.parrafoNH {
    line-height: 35px;
}